<ion-header>
  <ion-toolbar>
    <ion-title>employee</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>


  <ion-list>
<form [formGroup]="frm">
    <ion-item>
      <ion-label fixed>Firstname</ion-label>
      <ion-input type="text" formControlName="fnm" value=""></ion-input>
      <div *ngIf="frm.get('fnm').errors && frm.get('fnm').touched" style="color:red;">
<span *ngIf="frm.get('fnm').errors['required']">
  First name required !
</span>
<span *ngIf="frm.get('fnm').errors['minlength']">
  First name should be 2 characters !
</span>  
      </div>
    </ion-item>
  
    <ion-item>
      <ion-label fixed>Lastname</ion-label>
      <ion-input type="password" formControlName="lnm"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Contact</ion-label>

      <ion-input type="text" formControlName="contact"></ion-input>
    </ion-item>

    <div padding>
      <button block>Sign In</button>
    </div>
    

  </form>
  </ion-list>

</ion-content>
